:root {
  --default-white: #fff;
  --gray-1: #a9a9a9;
  --gray-2: #828282;
  --background-color: #181719;
}
* {
  padding: 0;
  border: 0;
  margin: 0;
  text-decoration: none;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  min-height: 100vh;
}
body {
  display: flex;
  flex-direction: column;

  background: var(--background-color);
}

/* * HEADER STYLE */
@media (min-width: 300px) {
  header {
    width: 100%;
    padding: 1.12rem 0.75rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header div {
    border: 1px solid var(--default-white);
    height: 2rem;
    width: 6.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  header div h1 {
    font-family: "Crimson Pro", serif;
    font-size: 0.85rem;
    font-weight: 200;
    text-transform: uppercase;
    color: var(--default-white);
  }
  header i.material-icons {
    color: var(--default-white);
    font-size: 2rem;
  }
  header nav {
    position: fixed;
    top: -100%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;

    height: 100vh;
    width: 100%;

    background: var(--background-color);
    transition: 0.5s ease-in;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  header nav ul {
    list-style: none;

    display: flex;
    align-items: center;
    flex-direction: column;
    height: 11.5rem;

    transition: 1s;
    opacity: 0;
  }
  header nav ul li {
    text-transform: capitalize;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.125rem;
  }
  header nav ul li + li {
    margin-top: 2rem;
  }
  header nav ul li:first-child {
    font-weight: 700;
  }
  header nav ul li a {
    color: var(--default-white);
  }
  header nav i.material-icons {
    position: absolute;
    top: 1.12rem;
    right: 0.75rem;

    opacity: 0;
    transition: 1s;
  }
}

/* * MAIN STYLE */
@media (min-width: 300px) {
  main {
    margin-top: 2.375rem;
  }
  section {
    padding: 0 0.75rem;

    color: var(--default-white);
  }
  section .info-section {
    display: flex;
    align-items: center;
  }
  section .info-section h1 {
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 2rem;

    margin-bottom: 1.55rem;
  }
  section .info-section p {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 0.85rem;

    width: 13.5rem;
    margin-bottom: 1.55rem;
  }
  section .info-section a {
    color: var(--default-white);

    font-family: "Montserrat", sans-serif;
    font-size: 0.85rem;
    font-weight: 600;

    display: flex;
    align-items: center;
  }
  section .info-section a i.material-icons {
    margin-left: 1rem;
  }
  section .design-section {
    margin-top: 1.55rem;
    height: 22rem;

    position: relative;
  }
  section .design-section img {
    width: 100%;
  }
  section .designed-by {
    position: absolute;
    bottom: 0;
    right: 0.75rem;

    display: grid;
    grid-template-rows: 1fr 1fr;

    width: 18.75rem;
    height: 8.625rem;

    background: var(--background-color);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.8);
  }
  section .designed-by div {
    display: flex;
    align-items: center;
    padding-left: 1.2rem;
  }
  section .designed-by .designed-by-info div {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    padding-left: 0.75rem;

    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  section .designed-by .designed-by-info img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }
  section .designed-by .designed-by-info div strong {
    font-size: 0.75rem;
    font-weight: 500;
    margin-bottom: 5px;
    text-transform: capitalize;
  }
  section .designed-by .designed-by-info div span {
    font-size: 0.625rem;
    color: var(--gray-2);
  }
  section .designed-by div p {
    font-family: "Lora", serif;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.5rem;

    width: 12rem;
    padding-bottom: 1rem;
  }
}

/* * FOOTER STYLE */
@media (min-width: 300px) {
  footer {
    font-family: "Montserrat", sans-serif;
    font-size: 0.875em;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray-1);

    padding-top: 1rem;
    margin-top: auto;
    height: 7rem;
  }
  footer div {
    width: 17rem;
    text-align: center;
    border-top: 1px solid var(--gray-1);
    padding-top: 1rem;
  }
  footer a {
    color: var(--gray-1);
  }
}
